

body {
margin: 100px auto;
background-image: url("https://www.brightwaterholidays.com/media/2078/independence-square-sofia_285063071.jpg");
background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
