
body {
margin: 100px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width:620px) {
  body {
    margin: 20px auto;
  }
}